* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

:root {
  --ifm-color-white: #fff;
  --ifm-color-black: #000;
	--ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: #f5f6f7;
  --ifm-color-gray-200: #ebedf0;
  --ifm-color-gray-300: #dadde1;
  --ifm-color-gray-400: #ccd0d5;
  --ifm-color-gray-500: #bec3c9;
  --ifm-color-gray-600: #8d949e;
  --ifm-color-gray-700: #606770;
  --ifm-color-gray-800: #444950;
  --ifm-color-gray-900: #1c1e21;
  --ifm-color-gray-1000: var(--ifm-color-black);

  --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0,0,0,.1);
  --ifm-global-shadow-md: 0 5px 16px rgba(0,0,0,.2);
  --ifm-global-shadow-tl: 0 12px 28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1);
  --ifm-global-radius: 0.25rem;

  --ifm-color-section-color: #eff4ff;
}
/* padding, margin */
.margin--xs {
  margin: 0.5rem !important;
}

.margin-top--xs {
  margin-top: 0.5rem !important;
}

.margin-left--xs {
  margin-left: 0.5rem !important;
}

.margin-bottom--xs {
  margin-bottom: 0.5rem !important;
}

.margin-right--xs {
  margin-right: 0.5rem !important;
}

.margin-vert--xs {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

.margin-horiz--xs {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.margin--sm {
  margin: 1rem !important;
}

.margin-top--sm {
  margin-top: 1rem !important;
}

.margin-left--sm {
  margin-left: 1rem !important;
}

.margin-bottom--sm {
  margin-bottom: 1rem !important;
}

.margin-right--sm {
  margin-right: 1rem !important;
}

.margin-vert--sm {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.margin-horiz--sm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.margin--md {
  margin: 2rem !important;
}

.margin-top--md {
  margin-top: 2rem !important;
}

.margin-left--md {
  margin-left: 2rem !important;
}

.margin-bottom--md {
  margin-bottom: 2rem !important;
}

.margin-right--md {
  margin-right: 2rem !important;
}

.margin-vert--md {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.margin-horiz--md {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.margin--lg {
  margin: 3.5rem !important;
}

.margin-top--lg {
  margin-top: 3.5rem !important;
}

.margin-left--lg {
  margin-left: 3.5rem !important;
}

.margin-bottom--lg {
  margin-bottom: 3.5rem !important;
}

.margin-right--lg {
  margin-right: 3.5rem !important;
}

.margin-vert--lg {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}

.margin-horiz--lg {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.padding--xs {
  padding: 0.5rem !important;
}

.padding-top--xs {
  padding-top: 0.5rem !important;
}

.padding-left--xs {
  padding-left: 0.5rem !important;
}

.padding-bottom--xs {
  padding-bottom: 0.5rem !important;
}

.padding-right--xs {
  padding-right: 0.5rem !important;
}

.padding-vert--xs {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.padding-horiz--xs {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.padding--sm {
  padding: 1rem !important;
}

.padding-top--sm {
  padding-top: 1rem !important;
}

.padding-left--sm {
  padding-left: 1rem !important;
}

.padding-bottom--sm {
  padding-bottom: 1rem !important;
}

.padding-right--sm {
  padding-right: 1rem !important;
}

.padding-vert--sm {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.padding-horiz--sm {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.padding--md {
  padding: 2rem !important;
}

.padding-top--md {
  padding-top: 2rem !important;
}

.padding-left--md {
  padding-left: 2rem !important;
}

.padding-bottom--md {
  padding-bottom: 2rem !important;
}

.padding-right--md {
  padding-right: 2rem !important;
}

.padding-vert--md {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.padding-horiz--md {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.padding--lg {
  padding: 3.5rem !important;
}

.padding-top--lg {
  padding-top: 3.5rem !important;
}

.padding-left--lg {
  padding-left: 3.5rem !important;
}

.padding-bottom--lg {
  padding-bottom: 3.5rem !important;
}

.padding-right--lg {
  padding-right: 3.5rem !important;
}

.padding-vert--lg {
  padding-bottom: 3.5rem !important;
  padding-top: 3.5rem !important;
}

.padding-horiz--lg {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}
/* padding margin */
.hero {
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  width: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  z-index: 9999;
}
.navbar-fixed{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  z-index: 9999;
}

.navbar{
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  
  display: flex;
}

.navbar__inner{
  margin: auto;
  max-width: 1200px;
}

.navbar__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbar__items{
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}
/* nav {
  overflow: hidden;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: space-between;
} */
.navflex{
  display: flex;
  flex-direction: row;
}
.logo {
  height: 10%;
  width: auto;
  margin: 0;
  justify-content: end;
}
.logo img {
  padding: 10px;
  height: 48px;
  float: left;
}
/* nav ul li {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
  list-style-type: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30px;
  text-decoration: none;
}
nav ul li a {
  border: 1px solid transparent;
  border-radius: 30px;
  border-color: #abb2b9;
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: #000;
}
nav ul li {
  margin-left: 30px;
}
nav ul :hover {
  background-color: #16a085;
  color: #fff;
  transition: 0.4s;
} */
.btn {
  border: 1px solid transparent;
  border-radius: 30px;
  border-color: #abb2b9;
  background-color: #fff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  transition: transform 0.4s;
}
.btn:hover {
  background-color: #16a085;
  transition: 0.4s;
}
.btn:hover a {
  color: #fff;
  transition: 0.4s;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  height: 50px;
}
.profile a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 20px;
}
.attractive-img {
  display: flex;
  padding-top: 25%;
  padding-left: 10%;
  /* justify-content: center; */
  background-color: rgb(158, 198, 166);
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
.bg-pic {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.title {
  color: gray;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
}

.colorful-word {
  background-clip: text;
  -webkit-background-clip: text;
  /* background-image: linear-gradient(
    45deg,
    #405de6,
    #423cc4,
    #902ad4,
    #f445a8,
    #e1306c,
    #fd1d1d
  ); */
  background-image: linear-gradient(
    45deg,
    #00c301,
    #2eb62c,
    #57c84d,
    #83d475,
    #abe098,
    #c5e8b7
  );
  /* background-image: linear-gradient(
    45deg,
    #00ab08,
    #00c301,
    #26d701,
    #4ded30,
    #95f985,
    #b7ffbf
  ); */
  -webkit-text-fill-color: transparent;
}

.whyedu {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.whycard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 300px;
}

.nodot {
  list-style-type: none;
}

.notextdec {
  text-decoration: none;
}

.boldtext {
  font-weight: 600;
}

.subtitlecolor {
  color: #57c84d;
}

/* carousel */
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8ed184;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #8ed184;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #96fb94;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #96fb94;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #96fb94;
}

.swiper-navBtn {
  color: #8ed184;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #8ed184;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #96fb94;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #8ed184;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* carousel endl */

.lg-font {
  font-size: 22px;
}

.bgcolor {
  background-color: var(--ifm-color-section-color);
}

/* profile card */

.gridbro {
  display: grid;
  height: 100%;
  place-items: center;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box {
  width: calc(20% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  min-height: 480px;
}
.box .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}
.container .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}
.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job {
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}
.rating i {
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
@media (max-width: 1045px) {
  .container .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .container .box {
    width: 100%;
  }
}

.containerr {
  max-width: 1200px;
}

.centertext {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}

.colorful-bg {
  /* background-clip: text;
  -webkit-background-clip: text; */
  background-image: linear-gradient(
    360deg,
    /* #55D440, #75dc64, */ #9de691,
    #b8edaf,
    #cdf2c7,
    #eff4ff
  );

  /* -webkit-text-fill-color: transparent; */
}

.footerlink {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.justflex {
  display: flex;
  align-items: center;
}

.linkicon {
  height: 34px;
  padding: 5px;
}

.circleradius {
  border-radius: 30px;
  border: solid gray;
  z-index: 9999;
}

/* navbar */
.topnav {
  overflow: hidden;
  background-color: var(--ifm-color-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: var(--ifm-global-shadow-md);
  z-index: 1;
  padding: 8px;
  border-radius: var(--ifm-global-radius);
}

.dropdown-content a {
  /* float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; */
  float: none;
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-black);
  display: block;
  font-size: .875rem;
  margin-top: 0.2rem;
  padding: 0.25rem 0.5rem;
  
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #57c84d;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.08,0.52,0.52,1);
}

.icon:hover{
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.08,0.52,0.52,1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 830px){
  .logo{
    position: absolute;
    left: 35px;
    top: 0;
  }
  .user-cont{
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 830px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 830px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: relative;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.user-cont{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
}

.user{
  height: 30px;
}
